<div class="home">
    <mat-card class="login" *ngIf="!isConnected">
        <mat-card-header>
            <mat-card-title>
                <h1>Log in</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="Login()">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
                <button mat-raised-button color="accent" type="button" (click)="Register()">Register</button>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="dashboard" *ngIf="isConnected">
        <mat-card class="dashboard">
            <mat-card-header>
                <mat-card-title>
                    <h2>Welcome {{ user.username }}</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="lobby" *ngFor="let lobby of lobbies" (click)="getLobby(lobby)">
                    <div class="lobby-name">{{ lobby.name }}</div>
                    <div class="lobby-owner">{{ lobby.owner.username }}</div>
                    <div class="lobby-password" *ngIf="lobby.password != null">
                        <mat-icon>lock</mat-icon>
                    </div>
                    <div class="lobby-password" *ngIf="lobby.password == null">
                        <mat-icon>lock_open</mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="lobby">
            <mat-card-header>
                <mat-card-title>
                    <h1>{{ lobbyInfo.name }}</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="lobby-info" *ngIf="lobbyInfo.name != ''">
                    <div class="lobby-owner">Owner : {{ lobbyInfo.owner.username }}</div>
                    <div class="lobby-players" *ngIf="lobbyInfo.users.length != 0">
                        <div class="lobby-player" *ngFor="let player of lobbyInfo.users">
                            <div>{{ player.position }} - {{ player.user.username }} - {{ player.validPlay }}</div>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" *ngIf="isAwaitToPlayer"
                        (click)="joinLobby(lobbyInfo.id, lobbyInfo.password)">Join Lobby</button>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="button">
            <button mat-raised-button color="primary" type="button" (click)="CreateLobby()">Create lobby</button>
        </div>
        <div class="button">
            <button mat-raised-button color="warn" (click)="logout()">Log Out</button>
        </div>
    </div>
</div>