<div class="createlobby">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Create a Lobby</h1>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="createLobbyForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <input matInput placeholder="Lobby Name" formControlName="lobbyName">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="lobbyPassword">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!createLobbyForm.valid"
                            [mat-dialog-close]="true">Create
                            Lobby</button>
                        <button mat-raised-button color="warn" type="button" [mat-dialog-close]="true">Cancel</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>